body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 992px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.wd-dashboard-course {
  width: 300px;
  margin: 35px;
}

.list-group.wd > .list-group-item.active {
  z-index: 2;
  color: black;
  background-color: white;
  border: none;
  border-left: 3px solid black;
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}

.list-group-item {
  --bs-list-group-border-color: gray;
}

.wd-lesson {
  border-left: 3px solid green !important;
}
